* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-3 {
    grid-template-columns: repeat(3,1fr);
}

.col-2 {
    grid-template-columns: repeat(2,1fr);
}

.row-2 {
    grid-template-rows: repeat(2,1fr);
}

.gap {
    gap: 10px;
}
.logo {
    width: 100px;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

header {
    padding: 10px 25px;
    border-bottom-style: inset;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.gap-50 {
    gap: 50px;
}

.nav a {
    color: black;
    text-decoration: none;
    margin: auto;
}

.nav a:hover {
    color: #2693b7;
}
.card {
    max-width: 300px;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.h-avatar{
    width: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.fd-c {
    flex-direction: column;
}

.hidde {
    visibility: hidden;
}

.profile-avatar {
    border-radius: 50%;
}

.text-c {
    text-align: center;
}

.br-r-50 {
    border-radius: 50px;
}

.user-btn {
    border: 0;
    margin-right: 10px;
    padding: 5px;
}

.dropdown-menu ul {
    margin: 0;
    list-style: none;
    display: none;
    position: absolute;
}

.dropdown-menu.open ul{
    display: block;
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.admin-panel {
    margin-top: 50px;
}

.admin-panel ul{
    list-style: none;
    margin: 20px;
}

.admin-panel a {
    text-decoration: none;
    color: black;
}

.admin-panel a:hover {
    color: #2693b7;
}

