<template>
    <section class="flex flex-col mt-6 justify-center items-center">
        <form :action="register" method="POST" class="flex flex-col gap-2 items-center" name="signup" v-if="isRegister">
            <input type="hidden" name="_token" :value="csrf">
            <input type="text"  id="surname" name="surname" placeholder="Фамилия" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="text" id="name" name="name" placeholder="Имя" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="tel"  id="phone" name="phone" placeholder="Номер телефона" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="email" id="email" name="email" placeholder="Адрес электронной почты" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="text" id="login" name="login" placeholder="Логин" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="password" id="password" name="password" placeholder="Пароль" required class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Подвердить пароль" required class="border border-gray-300 p-2  rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <button type="submit" class="text-white mt-3 text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:shadow-lg">Зарегистрироваться</button>
            <a @click="isRegister = false" class="text-center hover:text-blue-500">Уже есть аккаунт? Войти</a>
        </form>
        <form :action="login" method="POST" class="flex flex-col items-center gap-2" name="signin" v-if="!isRegister">
            <input type="hidden" name="_token" :value="csrf">
            <input type="text" name="login" placeholder="Логин" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <input type="password" name="password" placeholder="Пароль" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 ring-blue-200">
            <button type="submit" class="text-white mt-3 text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:shadow-lg">Войти</button>
            <a @click="isRegister = true" class="text-center hover:text-blue-500">Нет аккаунта?</a>
        </form>
    </section>
</template>

<script>
export default {
    name: 'authForms',
    props: ['loginRoute','registerRoute'],
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            register: this.registerRoute,
            login: this.loginRoute,
            isRegister: true
        }
    }
}
</script>

<style scoped>

</style>
